@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
    font-family: Montserrat, sans-serif;
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
}
.container{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* Header section*/
#header{
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100vw;
    height: auto;
}
#header .header{
    min-height: 8vh;
    background-color: rgba(31, 30, 30, 0.24) ;
    transition: .3s ease background-color;
}
#header .brand h1{
    color: white;
    font-size: 3.5rem;
    text-transform: uppercase;
}
#header .brand span{
    color: darkturquoise;
}
#header .navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    max-width: 1300px;
    padding: 0 100px;
}
#header .nav-list ul{
    list-style: none;
    position: absolute;
    background-color: rgba(31, 30, 30);
    width: 100vw;
    height: 100vh;
    left: 100%;
    top: 0; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    overflow-x: hidden;
    transition: .3s ease left;
}
#header .nav-list ul.active{
    left: 0%;
}
#header .nav-list ul a{
    font-size: 2.5rem;
    font-weight: 500;
    letter-spacing: .2rem;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    padding: 20px;
    display: block;
}
#header .nav-list ul a:hover{
    color: darkturquoise;
}
#header .hamburger{
    height: 60px;
    width: 60px;
    display: inline-block;
    border: 3px solid white;
    border-radius: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    cursor: pointer;
    transform: scale(.8);
    margin-right: 20px;
}
#header .hamburger::after{
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 3px solid white;
}
#header .hamburger .bar{
    height: 2px;
    width: 30px;
    position: relative;
    background-color: white;
    z-index: -1;
}
#header .hamburger .bar::after,
#header .hamburger .bar::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: white;
    transition: .3s ease;
    transition-property: top, bottom;
}
#header .hamburger .bar::after{
    top: 8px;
}
#header .hamburger .bar::before{
    bottom: 8px;
}
#header .hamburger.active .bar::before{
    bottom: 0;
}
#header .hamburger.active .bar::after{
    top: 0;
}
/* Header section*/
/* Hero Section */
#hero {
    background-image: url(./images/WhatsApp\ Image\ 2022-11-24\ at\ 10.21.39.jpg);
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
}
#hero::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.7;
    z-index: -1;
}
#hero .hero{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 50px;
    justify-content: flex-start;
}
#hero h1{
    display: block;
    width: fit-content;
    font-size: 4rem;
    position: relative;
    color: white;
}
#hero .cta{
    display: inline-block;
    padding: 10px 30px;
    color: darkturquoise;
    background-color: transparent;
    border: 2px solid darkturquoise;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 36px;
    transition: .3s ease;
    transition-property: backgroud-color, color;
}
#hero .cta:hover{
    color: white;
    background-color: darkturquoise;
}
/* Hero Section */
/* Service Section */
#services .services{
    flex-direction: column;
    text-align: center;
    max-width: 1500px;
    margin: 0 auto;
    padding: 100px 100px;
} 
#services .section-title{
    font-size: 4rem;
    font-weight: 300;
    color: black;
    margin-bottom:  50px;
    text-transform: uppercase;
    letter-spacing: .2rem;
    text-align: center;
}
#services .section-top{
    width: 500px;
    max-width: 0 auto;
    margin-bottom: 25px;
    
}
#services .service-top p{
    font-size: 1.4rem;
    margin-top: 5px;
    line-height: 2.5rem;
    font-weight: 300;
    letter-spacing: .05rem;
    margin-left: 15px;
    margin-right: 15px;
}
#services .service-bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
#services .service-item{
    flex-basis: 80%;
    display: flex;
    align-items: center;;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    border-radius: 10px;
    background-color: darkturquoise;
    margin: 10px 5%;
    width: 400px;
    height: 200px;
}
#services .service-item h2{
    font-size: 2rem;
    color: white;
    margin-bottom: 10px;
    text-transform: uppercase;
}
/* Service Section */
/* Area Section */
#area{
    background-image: url(./images/WhatsApp\ Image\ 2022-11-24\ at\ 10.22.58.jpg);
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
}
#area::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.7;
    z-index: -1;
}
#area .area{
    flex-direction: column;
    text-align: center;
    max-width: 1500px;
    margin: 0 auto;
    padding: 100px 0;
}
#area .area-top h1{
    display: block;
    width: fit-content;
    font-size: 4rem;
    position: relative;
    color: white;
    margin-bottom: 100px;
}
#area .area-bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
}
#area .area-place{
    flex-basis: 80%;
    display: flex;
    align-items: center;;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    border-radius: 10px;
    background-color: transparent;
    margin: 30px 5%;
    width: 400px;
    height: 250px; 
    border: 2px solid darkturquoise;
}
#area .area-place h2{
    font-size: 2rem;
    color: white;
    margin-bottom: 10px;
    text-transform: uppercase;
}
#area .area-superBottom{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: white;
    width: 200px;
    height: 80px;
    margin-top: 300px;
    border-radius: 10px;

}
#area .area-superBottom h3{
    font-size: 2rem;
    color: black;
    text-transform: uppercase;
    margin-bottom: 10px;
}
/* Area Section */
/* Contact Section */
#contact{
    background-color: darkturquoise;
}
#contact .contact{
    flex-direction: column;
    text-align: center;
    max-width: 1500px;
    margin: 0 auto;
    padding: 100px 0;
}
#contact .contact-top h1{
    display: block;
    width: fit-content;
    font-size: 4rem;
    position: relative;
    color: black;
    margin-bottom: 100px;
    text-transform: uppercase;
}
#contact .contact-bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    
}
#contact .contact-bottom a{
    display: inline-block;
    padding: 10px 30px;
    color: black;
    background-color: transparent;
    border: 2px solid black;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 36px;
    transition: .3s ease;
    transition-property: backgroud-color, color;
    margin: 30px 5%;
    
}
#contact .contact-bottom a:hover{
    color: white;
    background-color: black;
}
#contact .contact-bottom h2{
    font-size: 2rem;
    color: black;
    margin-bottom: 10px;
    
}
/* Contact Section */

/* Tablet mode */
@media only screen and (min-width: 768px) {
    .cta{
        font-size: 2.5rem;
        padding: 20px 60px;
    }
    h1.section-title{
        font-size: 6rem;
    }
    #hero h1{
        font-size: 7rem;
    }
    #services .service-bottom .service-item{
        flex-basis: 45%;
        margin: 2.5%;
    } 
    #area .area-bottom .area-place{
        flex-basis: 45%;
        margin: 2.5%;
    }
    #area .area-superBottom{
        width: 250px;
        height: 100px;
    }
    #area .area-superBottom h3{
        font-size: 3.5rem;
        
    }
    #contact .contact-top h1{
        font-size: 6rem;
    }
    #contact .contact-bottom a{
        font-size: 2.5rem;
        padding: 20px 60px;
    }
    #contact .contact-bottom h2{
        font-size: 4rem;
    }
}

/* Desktop */
@media only screen and (min-width: 1200px){
    #header .hamburger{
        display: none;
    }
    #header .nav-list ul{
        position: initial;
        display: block;
        height: auto;
        width: fit-content;
        background-color: transparent;
    }
    #header .nav-list ul li{
        display: inline-block;
        width: auto;
    }
    #header .nav-list ul li a{
        font-size: 1.5rem;
    }
    #header .nav-list ul a:after{
        display: none;
    }
    #services .service-bottom .service-item{
        flex-basis: 22%;
        margin: 1.5%;
    }
    #area .area-bottom .area-place{
        flex-basis: 22%;
        margin: 1.5%;
    }
}
